* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

.headSection {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}
.headSection p {
  font-size: 50px;
}
.mainSection {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.container {
  padding-top: 100px;
  padding-bottom: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgb(90, 224, 179); */
  background-image: url(./pexels-photo-2559941.jpeg);
  background-size: cover;
  gap: 20px;
}

.boards {
  padding-top: 20px;
  align-items: center;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 300px;
  background-color: rgb(174, 250, 225);
  border-radius: 30px;
  gap: 10px;
}

.boardName {
  color: black;
  font-size: 20px;
}

.addButton {
  width: 120px;
  height: 30px;
  background-color: rgb(111, 164, 185);
  margin-bottom: 20px;
}

.addButton:hover {
  background-color: blue;
  color: white;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 300px;
  width: 250px;
  padding-bottom: 30px;
  align-items: center;
}

.taskDiv {
  background-color: rgb(196, 189, 189);
  border-radius: 10px;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.541);
}

.taskTexts {
  width: 250px;
}

.taskButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editButton:hover {
  border-radius: 5px;
  background-color: #818080;
}

.deleteButton:hover {
  border-radius: 10px;
  background-color: #818080;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modalContent {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.textArea {
  width: 250px;
  height: 100px;
  align-self: center;
  flex-wrap: wrap;
}

.inButton {
  margin-top: 30px;
  height: 30px;
  background-color: green;
}
